<!doctype html>
<!-- Please note that this file is just a News Roundup Template!
     It is fine to commit this file to the repo so it is accessible, but we don't want it on the website.
     Use this file for easily making new roundups - just make sure not to accidentally include it in a file push! ;) -->
<html>
<style>
    code {color: red;}
</style>
<!--link in our stylesheet-->
<link href="styles.css" rel="stylesheet" type="text/css">
<head>
<title>Linux Phone News - Date Template</title>
<div class="headElement">
	<h1 style="color:red;text-align:center"><a href="index.html">fossphones</a></h1>
	<p><u><i>your number one source for linux phone news</i></u></p>
<!--build out a list of hyperlinks for people to click to get around the site-->
<p style="color:red">~ <a href="community.html">Community</a> | <a href="news.html">News</a> | <a href="os.html">Operating Systems</a> | <a href="software.html">Software</a> | <a href="devices.html">Devices</a> | <a href="contact.html">Contact Us</a> | <a href="about.html">About Us</a> ~</p>
</div>
</head>
<body>
<!--separate the header and body-->
	<div class="breakHelper">
		<br>
	</div>
<!--content-->
<div class="bodyElement">
<h1 style="color:red">Linux Phone News - Date Template</h1>
<p><!--insert intro content here--></p>
<div class="breakHelper">
	<br>
</div>
<h1 style="color:red">News Item 1</h1>
<p><!--insert news item 1 content here--></p>
<div class="breakHelper">
	<br>
</div>
<h1 style="color:red">News Item 2</h1>
<p><!--insert news item 2 content here--></p>
<div class="breakHelper">
	<br>
</div>
<h1 style="color:red">News Item 3</h1>
<p><!--insert news item 3 content here--></p>
<div class="breakHelper">
	<br>
</div>
<h1 style="color:red">News Item 4</h1>
<p><!--insert news item 4 content here--></p>
<div class="breakHelper">
	<br>
</div>
<h1 style="color:red">News Item 5</h1>
<p><!--insert news item 5 content here--></p>
<div class="breakHelper">
	<br>
</div>
<h1 style="color:red">FOSSphones App Highlights</h1>
<!--FOSSphones App Highlights.-->
<!--Every roundup, we try to highlight at least 3 FOSS apps we've been using on mobile.
These should always be different each months so we're not highlighting the same apps each time.
It is okay to highlight the same app again if it has seen some big updates lately.-->
<p><!--insert Fossphones app highlight intro content here-->.</p>
<ul>
	<li><a href="#">App 1 Link</a>: App 1 information.</li>
	<li><a href="#">App 2 Link</a>: App 2 information.</li>
	<li><a href="#">App 3 Link</a>: App 3 information.</li>
</ul>
<p><!--insert FOSSphones App Highlight outro content here--></p>
<div class="breakHelper">
	<br>
</div>
<p><!--insert News Roundup outro content here--></p>
<div class="breakHelper">
	<br>
</div>
<!--bring in the footer-->
<footer>
<div class="footerElement">
<p style="color:red"><u>fossphones</u></p>
<p>connect with us on:</p>
<p><a href="https://neighborli.xyz/@FOSSphones">Neighborli</a> | <a href="https://x.com/FSphones">X</a></p>
<p><i>like what we're doing? send us some crypto if you want to contribute to keeping this site up and running!</i></p>
<p><b style="color:red">Bitcoin address (BTC):</b></p> <p><u>1K76vKnBp7ptd2viX5gp6gWE5knSrSjHjL</u></p>
<p><b style="color:red">Ethereum address (ETH):</b></p> <p><u>0xc51F36C9f939b721890c7df922D197cE068E4D4e</u></p>
<p style="color:red">fossphones is proudly built and maintained by <a href="https://rav3ndust.xyz">rav3ndust</a>.</p>
</div>
</footer>
</html>
